process.container = 'zatzmanm/mergebams'

manifest {
    name            = 'mergebams'
    homePage        = 'https://github.com/mjz1/mergebams/tree/main'
    description     = 'Nextflow pipeline for merging 10x bams'
    defaultBranch   = 'main'
    mainScript      = 'main.nf'
    version         = '0.1'
}

report {
    enabled = false
}

timeline {
    enabled = false
}

trace {
    enabled = false
}

dag {
    enabled = false
    file = 'pipeline_dag.html'
    overwrite = true
}


profiles {

    test {
        params {
            samples = ["sample1", "sample1", "sample2", "sample2"]
            bams = ["$projectDir/test/bam1.bam", "$projectDir/test/bam2.bam",
                        "$projectDir/test/bam3.bam", "$projectDir/test/bam4.bam"]
            barcodes = ["$projectDir/test/barcodes1.tsv.gz", "$projectDir/test/barcodes2.tsv.gz",
                        "$projectDir/test/barcodes3.tsv.gz", "$projectDir/test/barcodes4.tsv.gz"]
            labels = ["bam1_", "bam2_", "bam3_", "bam4_"]
            outdir = "$projectDir/merged_bams"
        }
    }

    standard {
        docker {
            enabled = true
        }
    }

    juno {
        module = 'singularity/3.7.1'

        singularity {
            enabled = true
            autoMounts = true
        }

        executor {
            name = 'lsf'
            perJobMemLimit=false
            perTaskReserve=true
        }

        process {
            memory = '16 GB'
            time = '24h'
            scratch = true

            withLabel: 'multicore' {
                cpus = 8
                memory = '32 GB'
            }
        }
    }
}